#headerContents {
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    margin-top: 8px;
  }
  
  #headerLeft {
    display: flex;
  }
  
  #headerRight {
    width: 30%;
    display: flex;
    margin-right: 30px;
    padding: 10px;
    justify-content: space-between;
  }
  
  #headerRightLeft>a {
    padding: 0% 60% 0% 0%;
    font-size: 13px;
    text-decoration: none;
    border-bottom: 1px solid black;
    color: rgb(41, 41, 41);
    font-weight: 700;
    font-family: 'Neue-Helvetica', 'Helvetica', 'Arial', Sans-Serif;
    font-stretch: ultra-condensed;
  }
  
  #headerRightRight {
    display: flex;
    width: fit-content;
  }
  
  #headerRightRight>a {
    text-decoration: none;
    padding: 0px 10px 0px 10px;
    font-size: 13px;
    color: rgb(41, 41, 41);
    font-weight: 100;
    font-family: 'Neue-Helvetica', 'Helvetica', 'Arial', Sans-Serif;
    font-stretch: ultra-condensed;
    
  }
  
  #menu {
    width: 35px;
    height: 35px;
    margin-right: 30px;
  }
  
  #logo {
    width: 212px;
    margin-left: 100px;
  }
  
  @media only screen and (max-width: 760px) {
    #helpOption {
        display: none;
    }
    #headerRight {
        width: 10%;
        display: flex;
        flex-direction: column-reverse;
    }
    #logInOption {
        display: none;
    }
    #headerRightLeft>a {
        padding: 0px;
    }
    #logo {
        width: 170px;
    }
  }
/* Navbar ends */
* {
    font-family: 'Neue-Helvetica', 'Helvetica', 'Arial', Sans-Serif;
}
 
 #logpage {
     width: 60%;
     height: 50%;
   
     margin-top: 180px;
     margin-left: 160px;
 }
 
 #check {
     display: flex;
    gap: 20px;
     margin-top: 20px;
     align-items: center;
     font-size: 12px;
 }
 
 #checkmarkp{
     color: black;
 }
 
 /* #check div {
     margin-left: 2px;
     font-size: 10px;
 } */
 
 #checklast {
     font-size: 10px;
     
 }
 
 

 
 #fill input {
     outline: none;
     border-top: 0;
     border-left: 0;
     border-right: 0;
     margin-top: 25px;
     padding: 5px;
 
 }
 /* 
 #checkmark {
     border-radius: 50px;
 } */
 
 #email {
     border: 0.01px solid gray;
     margin-top: 10px;
     width: 40%;
     height: 10px;
 }
 
 #password {
     border: 0.01px solid gray;
     margin-top: 10px;
     width: 40%;
     height: 10px;
 }
 
 #reapeatpassword {
     width: 45%;
     height: 10px;
     margin-top: 10px;
     margin-left: 15px;
     border: 0.01px solid gray;
     
 }
 
 #name
 {
     border: 0.01px solid gray;
     margin-top: 10px;
     width: 40%;
     height: 10px;
 }
 #gst{
     border: 0.01px solid gray;
     margin-top: 10px;
     width: 40%;
     height: 10px;
 }
 #com{
     width: 45%;
     height: 10px;
     margin-top: 10px;
     margin-left: 10px;
     border: 0.01px solid gray; 
 }
 
 #pin
 {
     width: 45%;
     height: 10px;
     margin-top: 10px;
     margin-left: 15px;
     border: 0.01px solid gray;
     
 }
 
 #address {
     border: 0.01px solid gray;
     margin-top: 10px;
     width: 40%;
     height: 10px;
 }
 
 #optional {
     width: 45%;
     height: 10px;
     margin-top: 15px;
     margin-left: 15px;
     border: 0.01px solid gray;
    
 }
 
 #locality {
     border: 0.01px solid gray;
     border-radius: 3px;
     width: 40%;
     height: 10px;
     margin-top: 10px;
 }
 
 #city {
     width: 45%;
     height: 10px;
     margin-top: 10px;
     margin-left: 15px;
     border: 0.01px solid rgb(94, 79, 79);
 
 }
 
 #state {
     width: 40%;
     height: 20px;
     border: 0.5px solid gray;
     margin-top: 20px;
 border-top: none;
 border-right: none;
 border-left: none;
     color: grey;
    
 }
 #stateR {
     width: 12%;
     height: 20px;
     border: 0.5px solid gray;
     margin-top: 20px;
     margin-left: 15px;
 border-top: none;
 border-right: none;
 border-left: none;
 border-bottom: none;
     color: grey;
    
 }
 
 #tel {
     width: 26%;
     height: 10px;
     /* margin-top: 10px; */
     margin-left: 15px;
     border: 0.01px solid gray;
 }
 
 #mobile {
     width: 10%;
     height: 10px;
 
     border: 0.01px solid gray;
 }
 #bttn button {
     width: 27em;
   height: 2.7em;
 background-color: black;
 color: white;
 margin-top: 25px;
 
 }
 #bttn button a{
 color: white;
 text-decoration: none;
 font-size: 10px;
 }
 #companyfill{
     display: none;
 }
 #fb{
     font-size: 10px;
    
     color: grey;
 }
 
 
 @media only screen and (min-width:450px) and (max-width:800px){
     #logo{
         margin-left: auto;
     }
     #logpage {
         width: 100%;
         height: 50%;
       
         margin-top: 120px;
         margin-left: 22px;
     }
    
     #check div {
         margin-left: 2px;
         font-size: 20px;
     }
     #fill {
         margin-top: 40px;
       
     }
     #fb{
         font-size: 12px;
         margin-top: 30px;
     }
     
 
 }

 @media only screen and (min-width:50px) and (max-width:449px){
    #logo{
        margin-left: auto;
    }
    #logpage {
        display: inline-block;
        /* flex-direction: column; */
        width: 100%;
        height: 50%;
      
        margin-top: 120px;
        margin-left: 22px;
    }
   
    #check div {
        margin-left: 2px;
        font-size: 12px;
    }
    #fill {
        
        margin-top: 40px;
      
    }
    #fb{
        font-size: 12px;
        margin-top: 30px;
    }
    

}
 /* footer */
#container-bottom{
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 10px;
    line-height: 25px;
    height: 600px;
    color: gray;
    margin-left: 160px;
    margin-top: 300px;
    margin-bottom: -200px;
  }
  #container-bottom1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 150px;
    color: gray;
    margin-left: 160px;
    margin-bottom: -50px;
    font-size: 10px;
  }
  #container-bottom1 > div +div{
    margin-right: 200px;
  }
  #container-bottom2{
    font-size: 10px;
    height: 250px;
    color: gray;
    margin-left: 160px;
  }
  
  .bottom-heading{
    font-size: 12px;
    font-weight: bold;
    line-height: 45px;
  }
